.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.winter {
  background-color: #63cdda;
}
.summer {
  background-color: #f1c40f;
}

.season-display.winter i {
  color: #3498db;
}

.season-display.summer i {
  color: #e67e22;
}
